.footer {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100vw !important;
  background-color: #5e5c35; /* Tailwind gray-900 */
  color: #c1c0bc;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.footer .social-icons {
  display: flex;
  gap: 1rem;
}
.footer .copyright {
  text-align: right;
  font-size: 0.875rem;
}
